@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --dark-mode: class;
  --light-mode: class;
}

/* @media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #0a0a0a;
    --foreground: #4b4a4a;
  }
} */

:root.light {
  --background: #f5f5f5f5;
  --foreground: #202124;
  --circle-bg: #eeeeee;
  --circle-border: rgba(35, 36, 37, 0.3);
  --circle-stroke: rgb(121, 123, 127);
  --button-bg: rgba(31, 41, 55, 0.1);
  --button-border: rgba(209, 213, 219, 0.3);
}

:root.dark {
  --background: #1e1e1e;
  --foreground: #ffffff;
  --circle-bg: rgba(255, 255, 255, 0.1);
  --circle-border: rgba(255, 255, 255, 0.2);
  --circle-stroke: rgb(75, 85, 99);
  --button-bg: rgba(255, 255, 255, 0.2);
  --button-border: rgba(255, 255, 255, 0.3);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
